/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END MEYERS RESET */

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

h1 {
  font-family: "Poiret One", cursive;
  font-size: 50px;
  font-weight: bolder;
  margin-left: 1rem;
}

h2 {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 1rem;
}

.topnav a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10rem;
}
.topnav {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(197, 197, 197);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.bodytop {
  display: flex;
  justify-content: space-between;
}

.camelot {
  height: 100px;
}

.camelotbig {
  height: 500px;
}

.setbuilder {
  display: flex;
}

.setbuilder .leftset {
  height: 300vh;
  width: 50%;
  background-color: #d7faf4;
}
.setbuilder .rightset {
  height: 300vh;
  width: 50%;
  background-color: #cee8f0;
}

.bodytop {
  background-color: #cee3d7;
}

.dropzone {
  position: relative;
  font-family: "Poiret One", cursive;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #deffd6;
  margin-top: 1rem;
}

.dropzoneright {
  position: relative;
  font-family: "Poiret One", cursive;
  height: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d6f3ff;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

h3 {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  margin: 1rem;
}

.dropzone > span {
  position: absolute;
  top: 0;
  left: 1rem;
}

.addrowbutton {
  font-family: "Poiret One", cursive;
  margin: 1rem;
}

.removerowbutton {
  font-family: "Poiret One", cursive;
  margin: 1rem;
}

.savebutton {
  font-family: "Poiret One", cursive;
  margin: 1rem;
  font-size: 20px;
  /* margin-left: 350px; */
  font-weight: bolder;
}

.song {
  font-family: "Poiret One", cursive;
  height: 45px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(234, 241, 255);
  margin: 0.5rem;
  margin-left: 2rem;
  cursor: move;
  cursor: grab;
}

.song:active {
  cursor: grabbing;
}

.grabbing {
  cursor: grabbing;
}

p {
  width: 200px;
}

.dragging {
  opacity: 0.5;
}

.droppable {
  background-color: rgb(255, 233, 191);
}
